body{
    font-family:'AppleSDGothicNeo-Light','HelveticaNeue-Light',sans-serif;

}

/*
==========================================================
=====================@media max 480===========================
*/
/*----------리스트페이지-----------*/
.inner{
    max-width:480px;
    width:100%;
    margin:0 auto;
    background-color:#fff;
}

header{
    height:43px;
    width:100%;
    border-bottom: 1px solid #e5e5e5;
    position:fixed;
    z-index:100;
    top:0;
    max-width:480px;
    margin:0 auto;
    background-color: #fff;
}
.aniarea{
    width: 100%;
    height: auto;
    min-height: 760px;
    max-height: 812px;
    margin: 0 auto;
}

.btn_ham{
    background: url(../img/ic_ham_s.png) 50% 50% no-repeat;
    background-size:23px 18px;
    width:42px;
    height:43px;
    top:0;
    position:absolute;
    left:0;
    top:0;
}
.list h1{
    position:absolute;
    top:50%;
    margin-top:-9px;
    left:44px;
}
.list h1>img{
    height:17px;
    width:auto;
}
.list #wrapper{
    background-color:#e9e9e9;
    position:relative;
    width:100%;
    max-width:480px;
    padding:53px 10px 30px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.newsList{
    width:100%;
}
.newsList>li{
    background-color: #fff;
    margin-bottom:10px;
    border-radius:10px;
    overflow: hidden;
    box-shadow: 0 8px 10px rgba(0,0,0,0.1);
    animation: load_list 0.5s  ease-in-out 0.5s;
}

@keyframes load_list{
    0%{
        opacity:0.5;
        margin-top:100px;
    }
    100%{
        opacity:1;
        margin-top:0px;
    }
}
.newsList>li>a{
    display: block;
    width:100%;
    height:120px;
    position:relative;
    padding:0 0 0 120px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
.newsList .news_img{
    overflow:hidden;
    position:absolute;
    left:0;
    height:100%;
    width:120px;
}
.newsList .news_img>img{
    height:100%;
    width:auto;
}
.newsList .txt{
    display: block;
    padding:18px;
    overflow: hidden;
    height:120px;
    width:100%;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
.newsList .txt>p{
    font-size: 1.2rem;
    vertical-align: middle;
    max-height:76px;
}
.newsList .txt>p>strong{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    line-height: 1.36;
    font-weight:600;
    max-height:52px;
}
.newsList .reply_count{
    position: absolute;
    color:#b4bfce;
    bottom:15px;
    left:138px;
    font-size:0.95rem;
    z-index: 10;
}
.newsList .reply_count:before{
    content:"";
    display:inline-block;
    width:18px;
    height:18px;
    background:url(../img/ico_talk_count.png)no-repeat 50% 50%;
    background-size:100%;
    vertical-align: middle;
    margin-right:6px;
    
}
.list button.more{
    text-indent: -9999px;
    margin:20px auto;
    display: block;
    border-radius:50%;
    background-color:#fff;
    width:50px;
    height:50px;
    box-shadow: 0 8px 24px rgba(255,118,118,0.4);
    position:relative;
}
.list button.more>.plus{
    display: block;
    background-color:#ff7676;
    width:2px;
    height:24px;
    position:absolute;
    top:50%;
    margin-top:-12px;
    left:50%;
    margin-left:-1px;
}
.list button.more>.plus2{
    transform: rotateZ(90deg);
}
.list button.more:hover{
    background-color:#ff7676;
}
.list button.more:hover>.plus{
    background-color:#fff;
}
button.goToTop{
    position:fixed;
    display: none;
    bottom:0;
    z-index:99;
    background-color:rgba(83, 90, 111, 0.9);
    border-top:1px solid #60697d;
    width:100%;
    color:#fff;
    line-height:30px;
    font-size:0.85rem;
    padding-left:12px;
    max-width:480px;
    margin:0 auto;
}
button.goToTop:after{
    content:"";
    display:inline-block;
    background:url(../img/btn_gotop.png)no-repeat 2px 2px;
    background-size:50%;
    width:24px;
    height:15px;
    vertical-align: middle;
}

/*----------talk-----------*/
.talk{
    background-color:#f1f1f1;
    min-height:100vh;
}
.talk .wrapper{
    padding:43px 0 140px;
}
.talk .scene{
    padding:10px;
}
.btn_back{
    position:absolute;
    left:0;
    top:0;
    width:42px;
    height: 100%;
    background:url(../img/btn_back.png)no-repeat 50% 50%;
    background-size:26%;
    text-indent: -9999999px;
}
.btn_cls{
    position:absolute;
    left:0;
    top:0;
    width:42px;
    height: 100%;
    background:url(../img/btn_cls.png)no-repeat 50% 50%;
    background-size:40%;
    text-indent: -9999999px;
}


h2{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    margin:0 0 0 42px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
h2>button{
    line-height: 42px;
    font-size:1rem;
    font-weight:600;
    max-width:65%;
    white-space:nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
header button{
    position:absolute;
    top:0;
    height: 100%;
}
.full_tit{
    position:fixed;
    z-index:101;
    top:42px;
    width:100%;
    height:100%;
    max-width: 480px;
    display:none;
}
.full_tit.show{
    display: block;
}
.full_tit>p:before{
    content:"";
    display: block;
    background-color: #fff;
    width:16px;
    height:16px;
    position:absolute;
    left:50%;
    margin-left:-8px;
    top:-5px;
    border-radius: 4px;
    transform: rotateZ(45deg);
}
.full_tit>p{
    position:absolute;
    z-index:102;
    background-color:rgba(255,255,255,1);
    width:90%;
    left:50%;
    margin-left:-45%;
    top:10px;
    padding:14px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    border-radius:6px;
    font-size:0.9rem;
    line-height: 1.3;
    box-shadow:0 2px 15px rgba(0,0,0,0.4);
}
button.animation{
    right:4px;
    width:42px;
    background:url(../img/btn_ani_off.png)no-repeat 50% 50%;
    background-size:74%;
}
button.cut-in-msg{
    right:46px;
    width:42px;
    background:url(../img/btn_talk_off.png)no-repeat 50% 50%;
    background-size:74%;
}
button.animation.on{
    background:url(../img/btn_ani_on.png)no-repeat 50% 50%;
    background-size:74%;
}
button.cut-in-msg.on{
    background:url(../img/btn_talk_on.png)no-repeat 50% 50%;
    background-size:74%;
}
.role{
    margin-bottom:10px;
}
.role .type .writer{
    margin-bottom:-14px;
    width:100%;
}
.role .type .writer .name{
    line-height: 40px;
    font-size:0.8rem;
}
.role .type .writer>img{
    width:38px;
    height:38px;
    border:2px solid #fff;
    border-radius:50%;
    vertical-align: middle;
}
.role .type .img{
    padding:0;
    border-radius:30px;
    overflow: hidden;
    border:3px solid #fff;
}
.role .type .img img{
    
    max-height:180px;
    width:auto;
    max-width: 290px;
}
.role .type .video{
    padding:0;
    border-radius:30px;
    overflow: hidden;
    width:300px;
    height:167px;
}
.role .type .video iframe{
    padding:0;
    overflow: hidden;
    height:100%;
    width:300px;
    height:167px;
}
.img img{
    width: 450px;
    height: 80%;
    border-radius:20px;    
        
}
.scene_area {
    display: inline-block;
    width: 100%;
    height: 70%;
    background: #37404A;
    margin: 55px auto;
    padding: 10px 0px 10px 0px ;
    text-align: center;
    color:aliceblue;
}
.depiction {
    display:inline-flex;
    align-items: left;
    border-radius:0px;
    line-height: 1.3;
    margin: 0 auto;
    padding:5px 5px 5px 5px;
    width:100%;
}
.depiction>p {
    background-color:#FFFFFF;
    color:#505050;
    align-items: left;
    border-radius:1px;
    font-size:0.94rem;
    line-height: 1.8;
    font-family: 'AppleSDGothicNeo-Light','HelveticaNeue-Light',sans-serif;
    margin: 5px 5px;
    vertical-align: middle;
    text-align: left;
    padding:5px 5px 5px 5px;
    overflow: hidden;
    height:100%;
    width:100%;
    width:430px;
    height:100%;
}
dd,dt{
    display: inline-block;
    font-size:0.99rem;
    line-height: 1.3;
}

.role .type dd{
    background-color: #fff;
    border-radius:30px;
    padding:10px 13px 10px 15px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-size:0.88rem;
    word-break: break-all;
}
.role .type dd a{
    color:#009ced;
    text-decoration: underline;
    cursor: pointer;
    word-break: break-all;
}
.role .type .emoticon{
    padding:0;
    overflow: hidden;
    background-color: transparent;
    width:100px;
    height:100px;
}
.role .type .emoticon img{
    width:100%;
    height:100%;
}
.role .type_01 .writer .name{
    text-align:left;
    margin-left:4px;
}
.role .type_01 dd{
    margin:8px 40px 0 36px;
    text-align: left;
    background-color: #ECF9FF;
    color:#37404A;
}
.role .type_01 .txt b{
    margin:8px 40px 0 36px;
    text-align: left;
    color: #EE6764;
}
.role .type_02 dd{
    margin:8px 36px 0 40px;
    float:right;
    background-color:#FFFCEC;
    color:black;
}
.role .type_01 dd:nth-child(2),.role .type_04 dd:nth-child(2){
    border-top-left-radius:6px;
}
.role .type_02{
    overflow: hidden;
}
.role .type_02 .writer{
    float:right;
    overflow: hidden;
}
.role .type_02 .writer img{
    float:right;
}
.role .type_02 .writer .name{
    text-align:right;
    float:right;
    margin-right:4px;
}
.role .type_02 dd:nth-child(2),.role .type_03 dd:nth-child(1){
    border-top-right-radius:6px;
}
.role .type_03 dd{
    margin:8px 0px 0 40px;
    float:right;
    background-color:#ff7676;
    color:#fff;
}
.role .type_03{
    overflow: hidden;
}
.role .type_03 dd:nth-child(2){
    border-top-right-radius:6px;
}
.role .type_04 .writer .name{
    text-align:left;
    margin-left:4px;
}
.role .type_04 dd{
    margin:8px 40px 0 36px;
    text-align: left;
    background-color:#f1f1f1;
    color:#333;
}
.cutin_msg .noti{
    position:relative;
    margin:0 15px -14px 15px;
    height:30px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cutin_msg .msg_wrap{
    display: none;
}
.cutin_msg .noti .btn_bg{
    border-bottom:25px solid #f1f1f1;
	border-left:14px solid transparent;
	border-right:14px solid transparent;
	height: 0;
    width:100%;
    top:0;
    left:0;
    z-index:-1;
    position:absolute;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cutin_msg.show .noti .btn_bg{
    border-bottom:25px solid #fff;
	border-left:14px solid transparent;
	border-right:14px solid transparent;
	height: 0;
    width:100%;
    top:0;
    left:0;
    z-index:-1;
    position:absolute;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cutin_msg .noti button{
    position:absolute;
    margin-left:-60px;
    left:50%;
    top:0;
	width:120px;
    color:#b8b9be;
    z-index:2;
    font-size:0.8rem;
    padding:7px;
}
.cutin_msg .noti button:after{
    content: "";
    display: inline-block;
    background: url(../img/btn_cutin_arrow.png)no-repeat;
    width:8px;
    height:7px;
    background-size: 100%;
}
.cutin_msg.show .noti button:after{
    background: url(../img/btn_cutin_arrow.png)no-repeat;
    background-size: 100%;
    transform: rotateZ(180deg);
}
.cutin_msg .noti .line{
    height:1px;
    width:100%;
    background-color:#ddd;
    position:absolute;
    top:50%;
    margin-top:-1px;
}

.cutin_msg .msg_cont{
    background-color: #fff;
    padding:15px 15px 30px;
}
.cutin_msg .btn_group{
    width:100%;
    background-color: #fff;
    border-top:1px solid #ddd;
    border-bottom:2px solid #ddd;
    overflow: hidden;
}
.cutin_msg .btn_group button{
    line-height: 40px;
    float:left;
    width:50%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color:#ff7676;
    font-size:0.8rem;
}
.cutin_msg .btn_group button:hover{
    background-color:#f4f4f4;
}
.cutin_msg .btn_group button:first-child{
    border-right:1px solid #ddd;
}
.cutin_msg .btn_group .more:after{
    content:"";
    display: inline-block;
    background:url(../img/btn_msg_more.png)no-repeat 50% 12%;
    background-size:80%;
    width:16px;
    height:16px;
    vertical-align: middle;
    margin-left:5px;
}
.cutin_msg .btn_group .foldin:after{
    content:"";
    display: inline-block;
    background:url(../img/btn_msg_foldin.png)no-repeat 50% 12%;
    background-size:80%;
    width:16px;
    height:16px;
    vertical-align: middle;
    margin-left:5px;
}

.ico_loading{
    background-color:#fff;
    border-radius:30px;
    border-top-left-radius:6px;
    width:50px;
    height:40px;
    position:relative;
    margin-top:10px;
}
.ico_loading span{
    display: block;
    border-radius: 50%;
    position:absolute;
    width:10px;
    height:10px;
    top:50%;
    margin-top: -5px;
    background-color: #ddd;
    animation:loading linear infinite normal;
    -o-animation:loading linear infinite normal;
    -ms-animation:loading linear infinite normal;
    -webkit-animation:loading linear infinite normal;
    -moz-animation:loading linear infinite normal;
    animation-duration:0.5s;
    -o-animation-duration:0.5s;
    -ms-animation-duration:0.5s;
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
}
.ico_loading span:nth-child(1){
    left:30%;
    margin-left:-5px;
    animation-delay:0s;
		-o-animation-delay:0s;
		-ms-animation-delay:0s;
		-webkit-animation-delay:0s;
		-moz-animation-delay:0s;
}
.ico_loading span:nth-child(2){
    left:50%;
    margin-left:-5px;
    animation-delay:0.3s;
		-o-animation-delay:0.3s;
		-ms-animation-delay:0.3s;
		-webkit-animation-delay:0.3s;
		-moz-animation-delay:0.3s;
}
.ico_loading span:nth-child(3){
    left:70%;
    margin-left:-5px;
    animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

@keyframes loading{
    0%{
    background-color: #ddd;
    transform: scale(0.6);
    }
    100%{
    background-color:#999;
    transform: scale(0.8);
    }
}
.user_react{
    max-width:480px;
    position:fixed;
    bottom:0;
    width:100%;
    z-index:30;
}
.input_msg{
    bottom:0;
    width:100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position:relative;
}
.input_msg textarea{
    min-height:46px;
    max-height:120px;
    height:auto;
    width:100%;
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    padding:12px 20% 0 12px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size:1rem;
    resize:none;
    border:0;
    border-top:1px solid #ddd;
}
.input_msg textarea::-webkit-input-placeholder { color:#d3d3d3}
.input_msg textarea::-moz-placeholder { color:#d3d3d3}

.input_msg .regist{
    min-height:46px;
    position:absolute;
    bottom:0;
    right:0;
    height:100%;
    width:16%;
    display: inline-block;
    float:right;
    background-color: #ff7676;
    color:#fff;
    font-size:1rem;
}
.input_msg .regist:hover{
    background-color:#ef5050;
}
.cut_spot{
    width:115px;
    margin: 0 0 -27px 15px;
    position:relative;
    z-index: 10;
    animation: spot 0.2s ease-in alternate infinite;
}
.cut_spot img{
    width:100%;
    height:auto;
}
@keyframes spot{
    0%{transform: translate(0,0);}
    100%{transform: translate(6px,0);}
}
.btn_area{
    width:92%;
    margin:0 auto 66px;
}
.btn_area>button{
    width:48.5%;
    margin-right:1%;
    background-color:#222;
    line-height:40px;
    border-radius: 30px;
    color:#fff;
    font-size: 1rem;
    box-shadow: 0 4px 14px rgba(255,118,118,0.4);
}
.btn_area>button:hover{
    background-color:#ff7676;
}
.btn_area>button:last-child{
    margin-right:0;
}

button.yes{
    position:relative;
    animation:updown1 7s infinite 5s ;
    overflow: inherit;
}
button.no{
    position:relative;
    animation:updown2 7s infinite 5s ;
    overflow: inherit;
}
@keyframes updown1{
     0%{transform: translate(0,0);}
    2%{transform: translate(0,-15px);}
    4%{transform: translate(0,0);}
    6%{transform: translate(0,-15px);}
    8%{transform: translate(0,0);}
    100%{transform: translate(0,0);}
}
@keyframes updown2{
     0%{transform: translate(0,0);}
    8%{transform: translate(0,0);}
    10%{transform: translate(0,-15px);}
    12%{transform: translate(0,0);}
    14%{transform: translate(0,-15px);}
    16%{transform: translate(0,0);}
    18%{transform: translate(0,0);}
    100%{transform: translate(0,0);}
}
button.yes .charactor{
    display: block;
    position:absolute;
    top:-32px;
    left:50%;
}
button.yes .charactor .heart_l{
   display: block;
    background:url(../img/charactor_heart.png)no-repeat;
    background-size:100%;
    width:20px;
    height:17px;
    position:absolute;
    z-index:30;
    left:-50px;
    top:-6px;
    animation:heart_l 2s linear infinite 3s;
}
button.yes .charactor .heart_s{
   display: block;
 background:url(../img/charactor_heart.png)no-repeat;
    background-size:80%;
    width:20px;
    height:17px;
    position:absolute;
    z-index:30;
    left:-62px;
    top:12px;
    animation:heart_s 2s linear infinite 3s;
}
button.yes .charactor .ear{
    display: block;
    background:url(../img/charactor_ear.png)no-repeat;
    background-size:100%;
    width:28px;
    height:36px;
    position:absolute;
    z-index:20;
    left:8px;
    top:0px;
    animation: ear 2s linear infinite;
}
button.yes .charactor .body{
    display: block;
 background:url(../img/charactor_body.png)no-repeat;
    background-size:100%;
    width:97px;
    height:48px;
    left:50%;
    margin-left:-48px;
    position:absolute;
    z-index:10;
}
button.yes .charactor .glasses{
    display: block;
 background:url(../img/charactor_glasses.png)no-repeat;
    background-size:100%;
    width:37px;
    height:17px;
    left:-22px;
    top:12px;
    position:absolute;
    z-index:30;
}
button.no .charactor{
    display: block;
    position:absolute;
    top:-40px;
    left:50%;
}
button.no .charactor .body{
    display: block;
 background:url(../img/charactor_body_02.png)no-repeat;
    background-size:100%;
    width:62px;
    height:53px;
    left:50%;
    margin-left:-20px;
    position:absolute;
    z-index:10;
}
button.no .charactor .dots{
    display: block;
    margin-left:-40px;
    top:10px;
    position:absolute;
    z-index:10;
    width:40px;
    overflow: hidden;
}
button.no .charactor .dots>b{
    width:4px;
    height:4px;
    border-radius:50%;
    float: left;
    margin:0 1px;
    border:2px solid #222;
    background-color:#666;
}
button.no .charactor .dots>b:nth-child(1){
    animation: dot1 3s linear infinite;
}
button.no .charactor .dots>b:nth-child(2){
   animation: dot2 3s linear infinite;
}
button.no .charactor .dots>b:nth-child(3){
   animation: dot3 3s linear infinite;
}
@keyframes ear {
    0%{transform: scale(0.9)}
    5%{transform: scale(1)}
    10%{transform: scale(0.9)}
    15%{transform: scale(1)}
    100%{transform: scale(1)}
}

@keyframes heart_l{
    0%{opacity:0}
    25%{opacity:0}
    50%{opacity:1}
    100%{opacity:1}
}
@keyframes heart_s{
    0%{opacity:0}
    25%{opacity:1}
    50%{opacity:1}
    100%{opacity:1}
}
@keyframes dot3{
    0%{opacity:0}
    20%{opacity:1}
    40%{opacity:1}
    60%{opacity:1}
    100%{opacity:1}
}
@keyframes dot2{
   0%{opacity:0}
    20%{opacity:0}
    40%{opacity:1}
    60%{opacity:1}
    100%{opacity:1}
}
@keyframes dot1{
   0%{opacity:0}
    20%{opacity:0}
    40%{opacity:0}
    60%{opacity:1}
    100%{opacity:1}
}

.share_group {
    position:relative;
    max-width: 480px;
    width:100%;
    margin:0 auto 35px;
}

.share_group .share{
    background: url(../img/btn_share.png)no-repeat 50% 50%;
    width:40px;
    height:40px;
    position:absolute;
    background-size:40px 40px;
    display:block;
    background-color:rgba(0,0,0,0.5);
    box-shadow:0 3px 10px rgba(0,0,0,0.4);
    border-radius:50%;
    right:15px;
    bottom:0;
    text-indent: -99999px;
}
.share_group .shareTo{
    right:20px;
    bottom:0;
    position:absolute;
}
.share_group .shareTo>.sns{
    display: none;
}
.share_group .shareTo>.sns>button{
    width:40px;
    height:40px;
    background-size:40px 40px;
    display:block;
    background-color:rgba(0,0,0,0.5);
    box-shadow:0 3px 10px rgba(0,0,0,0.4);
    border-radius:50%;
    margin:8px 0 0;
    text-indent: -99999px;
}
.share_group .shareTo>.close{
    background: url(../img/btn_close.png)no-repeat 50% 50%;
    background-color:rgba(255,255,255,0.95);
    width:40px;
    height:40px;
    background-size:40px 40px;
    display:block;
    box-shadow:0 3px 10px rgba(0,0,0,0.4);
    border-radius:50%;
    margin:8px 0 0;
    display: none;
    text-indent: -99999px;
}
.share_group .shareTo>.sns>button:nth-child(4){
    background: url(../img/btn_face.png)no-repeat 50% 50%;
    background-color:rgba(0,0,0,0.5);
}
.share_group .shareTo>.sns>button:nth-child(3){
    background: url(../img/btn_talk.png)no-repeat 50% 50%;
    background-color:rgba(0,0,0,0.5);
}
.share_group .shareTo>.sns>button:nth-child(2){
    background: url(../img/btn_story.png)no-repeat 50% 50%;
    background-color:rgba(0,0,0,0.5);
}
.share_group .shareTo>.sns>button:nth-child(1){
    background: url(../img/btn_copy.png)no-repeat 50% 50%;
    background-color:rgba(0,0,0,0.5);
}

.share_group .share:hover, .share_group .shareTo>.sns>button:hover{
    background-color:rgba(0,0,0,0.7);
}
.share_group .shareTo>.close:hover{
    background-color:rgba(235,235,235,0.95);
}

/*
==========================================================
=====================@media max 360===========================
*/
/*----------리스트페이지-----------*/
@media screen and (max-width:360px){
    .talk .scene {
    padding: 10px;
    }
    .newsList>li>a {
    padding: 0 0 0 100px;
    height:100px;
    }
    .newsList>li {
    height: 100px;
    }
    .newsList .news_img {
    width: 100px;
    }
    .img img{
        width: 70%;
        max-width: 270px;
        border-radius:20px;    

    }
    .newsList .txt {
    left: 100px;
    padding:15px;
    height: 100px;
    }
    .newsList .txt>p {
    font-size: 1.08rem;
    }
    .newsList .txt>p>strong {
    max-height:46px;
    }
    .newsList .reply_count {
    left: 116px;
    }
    .list button.more {
    width:46px;
    height:46px;
    }
    h2>button{
    max-width:62%;
    }
    .role .type .video {
    width:240px;
    height:134px;
    }
    .role .type .video iframe{
    width:240px;
    height:134px;
    }
    .role .type dd {
    border-radius: 26px;
    font-size: 0.8rem;
    }
    .role .type .img img {
    max-height: 160px;
    }
    .role .type .emoticon {
    width:90px;
    height:90px;
    }
    .btn_area {
    width:92%;
    margin:0 auto 60px;
    }
    .btn_area>button {
    font-size:0.9rem;
    }

}
/*
==========================================================
=====================@media max 320===========================
*/
/*----------리스트페이지-----------*/
@media screen and (max-width:320px){
    .newsList>li {
    height:90px;
    }
    .newsList>li>a {
    padding: 0 0 0 90px;
    height:90px;
    }
    .newsList .news_img {
    width:90px;
    }
    .newsList .txt {
    left:90px;
    padding:12px;
    height:90px;
    }
    .newsList .txt>p {
    font-size:1rem;
    }
    .newsList .txt>p>strong {
    max-height:42px;
    }
    .newsList .reply_count {
    left: 103px;
    bottom:10px;
    font-size:0.85rem;
    }
    .newsList .reply_count:before{
    width:16px;
    height:16px;
    }
    h2>button{
    max-width:58%;
    }
    .list h1>img {
    height: 13px;
    }
    .cut_spot {
    width:100px;
    margin: 0 0 -27px 15px;
    }
    .cutin_msg .noti button {
    font-size:0.75rem;
    }
}